$buttons-width: 255px;
$popup-width: $buttons-width;

$tooltip-background-color: #334d41;

$buttons-vertical-offset: 15%;
$popup-vertical-offset: $buttons-vertical-offset;

$hand-vertical-offset: 31.25%;
