$box-shadow-color: #333;
$height: 30px;
$width: 255px;

.buttons {
  bottom: calc(50% - #{$height} / 2 - 380px);
  display: flex;
  justify-content: space-between;
  left: calc(50% - #{$width} / 2);
  position: fixed;
  width: $width;
}

button {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1.5px 0.5px 0 $box-shadow-color;
  font-family: inherit;
  font-weight: bold;
  height: 30px;
  outline: none;
  width: 60px;

  &:not(:disabled) {
    cursor: pointer;

    &:active {
      box-shadow: 0 0.5px 1px 0 $box-shadow-color;
      transform: translateY(2px);
    }
  }
}
