.card {
  position: absolute;
  left: -1.9375em;
  top: -2.75em;
  width: 3.875em;
  height: 5.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.back {
    background-image: url(@img/card-back.png);
  }
}

$suits: 'clubs', 'spades', 'hearts', 'diamonds';
$ranks: 'ace', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'jack', 'queen', 'king';

@each $suit in $suits {
  @each $rank in $ranks {

    .#{ $rank }-of-#{ $suit } {
      background-image: url('@img/' + $rank + '-of-' + $suit + '.png');
    }
  }
}
