@import 'variables';

#dealer {
  position: fixed;
  top: $hand-vertical-offset;
  left: 50%;
  z-index: 1;
}

#deck {
  position: fixed;
  top: 50%;
  left: 50%;
}

#player {
  position: fixed;
  left: 50%;
  bottom: $hand-vertical-offset;
  z-index: 2;
}
