@import 'variables';

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .25em 0;
  background-color: $tooltip-background-color;
  font-size: 80%;
  color: white;
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    margin: 0 4px;
  }
}
