@import 'variables';

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: .25em 0;
  background-color: $tooltip-background-color;
  font-size: 110%;
  color: white;
  text-align: center;

  a {
    position: fixed;
    top: .25em;
    right: .75em;
  }
}
