$height: 35px;

.popup {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(black, 0.3);
  font-size: 85%;
  left: calc(50% - #{var(--popup-width) / 2});
  line-height: $height;
  position: fixed;
  text-align: center;
  top: calc(50% - #{$height / 2});
  width: var(--popup-width);
}
