.popup {
  $height: 35px;
  $width: 160px;

  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(black, 0.3);
  font-size: 15px;
  font-weight: bold;
  left: calc(50% - #{$width} / 2);
  line-height: $height;
  position: fixed;
  text-align: center;
  top: calc(50% - #{$height} / 2 - 135px);
  width: $width;
}
